* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2, p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 90vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,1), rgba(255,255,255,0.5));
    height: 17rem;
    width: 17rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 1%;
    right: 4%;
}

.circle2 {
    bottom: 1%;
    left: 2%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border-radius: 2rem;
}

.user img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0.5rem 0rem;
    padding: 0.5rem 2rem;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0.5rem 0rem;
    padding: 0.5rem 2rem;
    align-items: center;
}

.link img {
    width: 1rem;
    height: 1rem;
}

.link h3 {
    padding: 0rem 2rem;
}

.games {
    flex: 2;
}

.pro {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    display: flex;
}

.pro img {
    flex: 1;
    padding: 1rem;
    width: 10px;
    height: 121px;
}

.pro h2 {
    flex: 1;
    width: 20%;
    color: white;
    font-weight: 600;
    padding: 0.5rem;
}

/* GAMES */

.status input {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    border: none;
    width: 50%;
    padding: 0,5rem;
    border-radius: 2rem;
}

.games {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    display: flex;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.9));
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    justify-content: space-between;
}

.card img {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

.progress {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
}

.percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}